{
    "Database": {
        "Server":   "",
        "Database": "",
        "Username": "",
        "Password": "",
        "TimeZone": ""
    },
    "AuthInfo": {
        "ClientId": "",
        "ClientSecret": "",
        "AuthURI": "https://accounts.google.com/o/oauth2/auth",
        "TokenURI": "https://oauth2.googleapis.com/token",
        "CallbackUrl": "http://localhost:8080/auth/google/callback"
    },
    "SMTP": {
        "SenderAddress": "",
        "SenderName": "",
        "SmtpServer": "",
        "Port": 25,
        "UseTLS": false,
        "UseSSL": false,
        "Username": "",
        "Password": "",
        "SendNotifications": true
    },
    "SessionKey": "",
    "UploadDirectory": "uploads",
    "AllowedFileTypes": ".zip,.rar,.7z,.tar,.gz",
    "ApplicationPort": ":9990",
    "Protocol": "http",
    "BaseUrl": "http://localhost:9990/"
}
