{
    "Database": {
        "Server":   "",
        "Database": "",
        "Username": "",
        "Password": "",
        "TimeZone": ""
    },
    "AuthInfo": {
        "ClientId": "",
        "ClientSecret": "",
        "AuthURI": "https://accounts.google.com/o/oauth2/auth",
        "TokenURI": "https://oauth2.googleapis.com/token"
    },
    "SessionKey": "",
    "UploadDirectory": "uploads",
    "AllowedFileTypes": ".zip,.rar,.7z,.tar,.gz",
    "Protocol": "http"
}
