{{define "title_content"}}
    {{ .Title }}
{{end}}

{{define "main_content"}}
<h2>{{ .Greeting }}</h2>
<form method="post">
<div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>e-mail</th>
            <th>Active</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="text-center">Administrator</th>
            <th></th>
        </tr>
        {{range .Users}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Username}}</td>
            <td>
                {{.Email}}
            </td>
            <td>
                {{if .Active}}
                <i class="bi bi-check-square"></i>
                {{else}}
                <i class="bi bi-square"></i>
                {{end}}
            </td>
            <td>{{.FirstName}}</td>
            <td>{{.LastName}}</td>
            <td class="text-center">
                {{if .Administrator }}
                <i class="bi bi-check-square"></i>
                {{else}}
                <i class="bi bi-square"></i>
                {{end}}
            </td>
            <td>
                <a href="/edituser/{{.Id}}" class="btn btn-primary" title="Edit User"><i class="bi bi-pencil-square"></i></a>&nbsp;
                <a href="/deleteuser/{{.Id}}" class="btn btn-danger" title="Delete User"><i class="bi bi-file-x"></i></a>
            </td>
        </tr>
        {{ end }}
        <tr>
            <td colspan="2" class="text-center">
                <strong>
                Add User:
                </strong>
            </td>
            <td><input type="text" class="form-control" name="email" placeholder="someone@example.com" /></td>
            <td>&nbsp;</td>
            <td><input type="text" class="form-control" name="first_name" placeholder="Someone" /></td>
            <td><input type="text" class="form-control" name="last_name" placeholder="Else" /></td>
            <td class="text-center"><input type="checkbox" name="administrator" /></td>
            <td><button type="submit" class="btn btn-success" title="Add user"><i class="bi bi-check-lg"></i></button></td>
        </tr>
    </table>
</div>
</form>
<div>
    <p>
        <a href="/">Return Home</a>
    </p>
</div>
{{end}}
