{{define "title_content"}}
    {{ .Title }}
{{end}}

{{define "main_content"}}
<h2>{{ .Greeting }}</h2>
<div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>e-mail</th>
            <th>Active</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {{range .Users}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Username}}</td>
            <td>
                {{.Email}}
            </td>
            <td>
                {{if .Active}}
                Yes
                {{else}}
                No
                {{end}}
            </td>
            <td>{{.FirstName}}</td>
            <td>{{.LastName}}</td>
        </tr>
        {{ end }}
    </table>
</div>
<div>
    <p>
        <a href="/">Return Home</a>
    </p>
</div>
{{end}}
