{{define "title_content"}}
    {{ .Title }}
{{end}}

{{define "main_content"}}
<div class="row">
    <div class="col-md-4">
        <a href="/upload" class="btn btn-success">
            <i class="bi bi-upload"></i>&nbsp;Upload New File
        </a>
    </div>
    <div class="col-md-8 text-end">
        <i class="bi bi-collection"></i>&nbsp;{{.StorageUsed}} Used / {{.SpaceAvailable}} Available
    </div>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>
                {{ if and (eq .SortField "FileId") (eq .SortOrder "asc") }}
                    <a href="/files?srt=FileId&ord=desc">#</a>
                {{ else }}
                    <a href="/files?srt=FileId&ord=asc">#</a>
                {{ end }}
            </th>
            <th>
                {{ if and (eq .SortField "OriginalFilename") (eq .SortOrder "asc") }}
                    <a href="/files?srt=OriginalFilename&ord=desc">Filename</a>
                {{ else }}
                    <a href="/files?srt=OriginalFilename&ord=asc">Filename</a>
                {{ end }}
            </th>
            <th>
                {{ if and (eq .SortField "FileSize") (eq .SortOrder "asc") }}
                    <a href="/files?srt=FileSize&ord=desc">Size</a>
                {{ else }}
                    <a href="/files?srt=FileSize&ord=asc">Size</a>
                {{ end }}
            </th>
            <th>Download Address</th>
            <th>
                {{ if and (eq .SortField "LastName") (eq .SortOrder "asc") }}
                    <a href="/files?srt=LastName&ord=desc">Uploaded By</a>
                {{ else }}
                    <a href="/files?srt=LastName&ord=asc">Uploaded By</a>
                {{ end }}
            </th>
            <th>
                {{ if and (eq .SortField "UploadedOn") (eq .SortOrder "asc") }}
                <a href="/files?srt=UploadedOn&ord=desc">Uploaded On</a>
                {{ else }}
                <a href="/files?srt=UploadedOn&ord=asc">Uploaded On</a>
                {{ end }}
            </th>
            <th>
                {{ if and (eq .SortField "TimesRequested") (eq .SortOrder "asc") }}
                <a href="/files?srt=TimesRequested&ord=desc">Times Requested</a>
                {{ else }}
                <a href="/files?srt=TimesRequested&ord=asc">Times Requested</a>
                {{ end }}
            </th>
            <th>
                {{ if and (eq .SortField "LastRequested") (eq .SortOrder "asc") }}
                <a href="/files?srt=LastRequested&ord=desc">Last Requested</a>
                {{ else }}
                <a href="/files?srt=LastRequested&ord=asc">Last Requested</a>
                {{ end }}
            </th>
            <th></th>
        </tr>
        {{range .Files}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.OriginalFilename}}</td>
            <td>{{.FormattedSize}}</td>
            <td>
                <a href="{{$.DownloadBaseUrl}}/{{.Id}}/{{.GetDescriptor }}">
                    {{$.DownloadBaseUrl}}/{{.Id}}/{{.GetDescriptor }}
                </a>
                &nbsp;
                <button type="button" class="btn btn-success float-end" title="Copy to Clipboard"
                    onclick="navigator.clipboard.writeText('{{$.DownloadBaseUrl}}/{{.Id}}/{{.GetDescriptor }}');">
                    <i class="bi bi-clipboard"></i>
                </button>
            </td>
            <td>{{.UploadedBy}}</td>
            <td>{{.UploadedOn.Format "02/01/2006 15:04:05" }}</td>
            <td>{{.TimesRequested}}</td>
            <td>{{.LastRequested.Format "02/01/2006 15:04:05" }}</td>
            <td>
                <a href="/delete/{{.Id}}/{{.GetDescriptor }}" class="btn btn-danger" title="Delete File">
                    <i class="bi bi-file-x"></i>
                </a>
            </td>
        </tr>
        {{ end }}
    </table>
</div>
<div>
    <p>
        <a href="/">Return Home</a>
    </p>
</div>
{{end}}
