{{define "title_content"}}
    {{ .Title }}
{{end}}

{{define "main_content"}}
<div class="row">
    <div class="col-md-4">
        <a href="/upload" class="btn btn-success">
            <i class="bi bi-upload"></i>&nbsp;Upload New File
        </a>
    </div>
    <div class="col-md-8 text-end">
        <i class="bi bi-collection"></i>&nbsp;{{.StorageUsed}} Used / {{.SpaceAvailable}} Available
    </div>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Filename</th>
            <th>Size</th>
            <th>Download Address</th>
            <th>Uploaded By</th>
            <th>Uploaded On</th>
            <th>Times Requested</th>
            <th>Last Requested</th>
            <th></th>
        </tr>
        {{range .Files}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.OriginalFilename}}</td>
            <td>{{.FormattedSize}}</td>
            <td>
                <a href="{{$.DownloadBaseUrl}}/{{.Id}}/{{.GetDescriptor }}">
                    {{$.DownloadBaseUrl}}/{{.Id}}/{{.GetDescriptor }}
                </a>
                &nbsp;
                <button type="button" class="btn btn-success float-end" title="Copy to Clipboard"
                    onclick="navigator.clipboard.writeText('{{$.DownloadBaseUrl}}/{{.Id}}/{{.GetDescriptor }}');">
                    <i class="bi bi-clipboard"></i>
                </button>
            </td>
            <td>{{.UploadedBy}}</td>
            <td>{{.UploadedOn.Format "02/01/2006 15:04:05" }}</td>
            <td>{{.TimesRequested}}</td>
            <td>{{.LastRequested.Format "02/01/2006 15:04:05" }}</td>
            <td>
                <a href="/delete/{{.Id}}/{{.GetDescriptor }}" class="btn btn-danger" title="Delete File">
                    <i class="bi bi-file-x"></i>
                </a>
            </td>
        </tr>
        {{ end }}
    </table>
</div>
<div>
    <p>
        <a href="/">Return Home</a>
    </p>
</div>
{{end}}
