{{define "title_content"}}
    {{ .Title }}
{{end}}

{{define "main_content"}}
<h2>{{ .Greeting }}</h2>

<form method="post">
<div class="card card-warning">
    <div class="card-header">
        <strong>User Information</strong>
    </div>
    <table class="table">
        <tr>
            <th class="col-md-2">Username</th>
            <td>{{(index .Users 0).Username}}</td>
        </tr>
        <tr>
            <th>e-mail</th>
            <td>{{(index .Users 0).Email}}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{(index .Users 0).FirstName}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{(index .Users 0).LastName}}</td>
        </tr>
        <tr>
            <th>
                Active
            </th>
            <td>
                {{if (index .Users 0).Active }}
                Yes
                {{else}}
                No
                {{end}}
            </td>
        </tr>
    </table>
    <div class="card-footer">
        <button type="submit" class="btn btn-danger">Delete</button>&nbsp;
        <a href="/users">Cancel</a>
    </div>
</div>
</form>
{{end}}
